extends layout

block content
  #two-columns
    .left
      a(href: '/')
        h1 Welcome to the home page!

    .right
      h2 Collaborate with friends &amp; family to get stuff done.

      p.icons
        span.bold.large Sign in with 


      p Got an invitation code? 
        a(href: '/login') Sign in to register

    .clearfix

    #reminder.modal
      a.close(href: 'javascript: closeOverlay();') x
      h1 Help is on the way!
      #reminder-main
        .text Enter your email address or your username.
          br
          |We'll send you an email with a link you can use to sign back in.
        #reminder-form
          button.blue-button(onclick: 'reminder();') Send Request
          input#lookup-account(type: 'text', onkeyup: 'enterCall(event, reminder);', placeholder: 'enter email address or username')
        #reminder-status.error &nbsp;
